h1 {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.description {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 16px;
}

.main_container{
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    justify-content: center;
    align-items: top;
    
}

.main_container div{
    margin: 16px;
    padding: 24px;
    border: 1px solid black;
    border-radius: 8px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: right;
}

.list {
    padding-left: 16px;
}

ul li {
    margin-bottom: 24px;
}

ol li {
    margin-bottom: 16px;
}